NEXT_PUBLIC_API_URL=http://localhost:5050/api
NEXT_PUBLIC_SOCKET_URL=http://localhost:5050

NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyBIT0hsp_L6azm6StypsDqpEvN1sgFTWMQ
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=intern-clone.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=intern-clone
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=intern-clone.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=575251426705
NEXT_PUBLIC_FIREBASE_APP_ID=1:575251426705:web:5a0543f16eb2cd0db5be30
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=G-X67DTFM5EV
