NEXT_PUBLIC_API_URL=http://localhost:5050/api
NEXT_PUBLIC_SOCKET_URL=http://localhost:5050

NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyDnsk0EH6sc-ioJRFAeqBS8YqghHlo8tb4
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=internarea-7e417.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=internarea-7e417
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=internarea-7e417.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=523240586162
NEXT_PUBLIC_FIREBASE_APP_ID=1:523240586162:web:ae1fe59d19b7b3f4eb42ab
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=G-YNX8BV74Z7
